.back__link
{
   
        width: 100px;
        height: auto;
        padding: 9px;
        color: white;
        background-color: #af1b65;
        position: fixed;
        top: 0;
        z-index: 999999;
        font-weight: bold;
      animation: back 1s 10000000 linear;
    font-size: 30px;
    }

@keyframes back {
    0%{padding-left: 20px;}
    100%{color: navy;}

}
.back__link a
{
    color: white;
    text-decoration: none;
}

*{
    font-family: system-ui;
    font-style: italic;
}
body{background-color: #DDD;}

.header
{
    width: 100%;
    height: auto;
    background-image: url('../images/STARRS.jpg');
    padding-top: 30px ;
    padding-bottom: 10px ;

}
.heder_div1 img
{
    width: 40%;
    max-height:100px ;
    margin-top: -23px;

}

.header_div2 ul li
{
    display: inline;
    margin: 0px 1px;
  
    padding: 15px;
    font-weight: bolder;
    font-size: 17px;
    transition: all 0.5s ease-in-out;

}

#calc_protin
{
    display:none;
}
.info ul li
{
    color: wheat;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    margin: 20px 0px;
}

.info  h1
{
    text-align: right;
    color: #DDD;
    font-weight: bolder;
}
.header_div2 ul li:hover
{
    cursor: pointer;
    background-color: darkred;
    border-radius: 10px;
    
}
.header_div2 ul li:hover a
{
    color: white;
}
.header_div2 ul li a
{
    text-decoration: none;
    color: wheat;

}

.header_div2 ul li a:hover{text-decoration: none;}


.image1
{
    margin-top: 30px;
    border: 3px solid darkred;
    padding: 20px;
    box-shadow: 5px 5px 15px darkred;
    background-color:black;
    color: darkred;
    font-weight: bolder;
    border-top-right-radius:25px ;

}
.image1 p{color: wheat; font-size: 20px; font-weight: 100;}
.span_toggel
{
    font-size: 50px;
    color: darkred;
}

.sec2
{
    background-image: url('../images/STARRS.jpg');
    padding: 30px 0px;
    margin-top:70px;
}

.div_fotter ul li a
{
    color: wheat;
    font-size: 20px;
    text-align: left;
    text-decoration:none ;

}
.div_fotter ul li 
{
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}
.div_fotter ul li:hover
{
    transform: skew(20deg);
    font-weight: bolder;
}
.div_fotter ul #we:hover
{
    transform: none;
    font-weight: normal;

}
.div_fotter{margin-top: 50px;}

.sec1
{
        width: 100%;
        padding: 20px 0px;
        margin-top: 140px;
        background-color: black;
    }
.div_about h1
{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    color: darkred;
}
.div_about
{
    width: 100%;
 
    padding: 15px;
}
.div_about p
{
    color: wheat;
    font-size: 20px;
    text-shadow: 5px 5px 5px navy;
    text-align:left ;
}
.vid video
{
    width: 100%;
    margin-top: 100px;
}
.sec4
{
    width: 100%;
    height: auto;
    padding: 40px 10px;
     background-color: black;
    margin-top:120px ;
}

.calc_protin
{
    width: 50%;
    margin: auto;
    background-color: #380e0e;
    height: auto;
    padding: 20px 10px;
    border-top-right-radius: 213px;
    border-bottom-left-radius: 213px;

}
.sec4 h1
{
    
        color: #DDD;
        padding: 56px;
        font-weight: bolder;

}
.calc_protin input
{
    width: 80%;
    margin: auto;
    height: 50px;
    font-size: 23px;
    font-weight: bolder;
    color: darkred;
    border-radius: 25px;
    margin-top: 15px;
    text-align: right;
    padding-right: 20px;
}

.calc_protin select
{
    width: 80%;
    margin: auto;
    height: 50px;
    font-size: 23px;
    font-weight: bolder;
    color: darkred;
    border-radius: 25px;
    margin-top: 15px;
    text-align: right;
    padding-right: 20px;
}
.calc_protin .btn1
{
    min-width: 28%;
    background-color: black;
    color: wheat;
    font-weight: bolder;
    font-size: 20px;
    height: 64px;
    border-radius: 42px;
    margin-top: 21px;
    transition: all 0.5s ease-in-out;
    border: 2px solid rgb(36, 21, 21);
}

.calc_protin .btn1:hover
{
    min-width: 30%;
    transform: scale(1.1 , 1.1);
    color: #DDD;
}


#sinup:hover{background-color: black;width: 1px;}
.btot
{

    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    min-width: 10%;
    border-radius: 12px;
    font-weight: bolder;
    color: navy;
    font-size: 16px;
    transition: all 0.7s ease-in-out;
}
.btot:hover
{
    transform: scale(1.1 , 1.1);

}
.modal-body input
{
    margin-top: 20px;
    height: 50px;
    background-color: #DDD;
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 10px;
    border-radius: 12px;
}

.modal-body select
{
    margin-top: 20px;
    height: 50px;
    background-color: #DDD;
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 10px;
    border-radius: 12px;
}

.modal-body button
{
    margin-top: 20px;
    height: 50px;
    background-color: #4cae4c;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 10px;
    border-radius: 12px;
    width: 50%;
    margin: auto;
    margin-top: 26px;
    color: white;
}


.modal-dialog
{
    width: 40%;
    margin: auto;
    margin-top: 20px;
}
.pagelodsecond
{
    width: 100%;
    height: 1000px;
    background-color: darkred;
    position: absolute;
    z-index: 99999;
    margin-top: -150px;
}


.header_div3 ul li
{
    display: inline;
    margin: 0px 1px;
    line-height: 100px;
    padding: 15px;
    font-weight: bolder;
    font-size: 17px;
    transition: all 0.5s ease-in-out;


}

.header_div3 ul li:hover
{
    cursor: pointer;
    background-color: darkred;
    border-radius: 10px;
    
}
.header_div3 ul li:hover a
{
    color: white;
}
.header_div3 ul li a
{
    text-decoration: none;
    color: wheat;

}

.show_hide
{
    width: 100%;
    height: 300px;
    background-image: url('../images/STARRS.jpg');
    display: none;
}
.header_div3 ul li a:hover{text-decoration: none;}

.span_toggel:hover{cursor: pointer;}
/* دة عشان تتحكم فى العرض  */
::-webkit-scrollbar
{
    width: 10px;
   
}

/*  دة الخلفية للاسكرول  */
::-webkit-scrollbar-track
{
   
    background-image: url('../images/STARRS.jpg');

}

/* دة الاسكرول نفسة */
::-webkit-scrollbar-thumb
{
 
    border-radius: 60px;
    background-color: darkred;
}


@media (min-width:10px) and (max-width:990px) {

    .modal-dialog
{
    width: 90%;
    margin: auto;
}
}
@media (min-width:10px) and (max-width:640px)
{

    .calc_protin
{
    width: 95%;
    margin: auto;
    background-color: #380e0e;
    height: auto;
    padding: 20px 10px;
    border-top-right-radius: 213px;
    border-bottom-left-radius: 213px;

}

}

@media (min-width:640px) and (max-width:780px)
{

    .calc_protin
{
    width: 95%;
    margin: auto;
    background-color: #380e0e;
    height: auto;
    padding: 20px 10px;
    border-top-right-radius: 213px;
    border-bottom-left-radius: 213px;

}

}

@media (min-width:785px) and (max-width:991px)
{

    .calc_protin
{
    width: 80%;
    margin: auto;
    background-color: #380e0e;
    height: auto;
    padding: 20px 10px;
    border-top-right-radius: 213px;
    border-bottom-left-radius: 213px;

}

}
.header_div2 ul li a
{
    text-decoration: none;
    color: wheat;
    font-size: 20px;

}

.header_div3 ul li a
{
    text-decoration: none;
    color: wheat;
    font-size: 20px;
  

}








@media (min-width:375px) and (max-width:375px) {
    

    .sec4 h1 {
        color: #DDD;
        padding: 26px;
        font-weight: bolder;
        font-size: 22px;
    }

    .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }
    
 
 
 
 
 }
 
 @media (min-width:414px) and (max-width:414px)
 {
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }

    .sec4 h1 {
        color: #DDD;
        padding: 56px;
        font-weight: bolder;
        font-size: 20px;
    }


}
 
 @media (min-width:390px) and (max-width:393px)
 {
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }

    .sec4 h1 {
        color: #DDD;
        padding: 56px;
        font-weight: bolder;
        font-size: 39px;
 
 }
}
 
 
 @media (min-width:360px) and (max-width:360px)
 {
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }
    .sec4 h1 {
        color: #DDD;
        padding: 56px;
        font-weight: bolder;
        font-size: 27px;
    }
 
 }
 
 @media (min-width:412px) and (max-width:412px)
 {
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }
 
 }


 @media (min-width:820px) and (max-width:820px)

 {
    .sec4 h1 {
        color: #DDD;
        padding: 60px;
        font-weight: bolder;
        font-size: 59px;
    }


    .info ul li {
        color: wheat;
        font-size: 33px;
        font-weight: bolder;
        text-align: right;
        margin: 20px 0px;
        
 }
}


 @media (min-width:280px) and (max-width:280px)
 {
 
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 10px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }
 
    .span_toggel {
     font-size: 50px;
     color: darkred;
     margin-top: -23px;
    }

    .sec4 h1 {
        color: #DDD;
        padding: 5px;
        font-weight: bolder;
        font-size: 22px;
    }

    .info ul li {
        color: wheat;
        font-size: 15px;
        font-weight: bolder;
        text-align: right;
        margin: 20px 0px;
    }


 
 }
 
 
 
 @media (min-width:1280px) and (max-width:1280px)
 {
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }

    .sec4 h1 {
        color: #DDD;
        padding: 5px;
        font-weight: bolder;
        font-size: 47px;
    }

    .info ul li {
        color: wheat;
        font-size: 28px;
        font-weight: bolder;
        text-align: right;
        margin: 20px 0px;
    }
    


}
 
 @media (min-width:1024px) and (max-width:1024px)
 {
     .header_div3 ul li a {
         text-decoration: none;
         color: wheat;
         font-size: 17px;
    }
 
    .heder_div1 img {
     width: 50%;
     max-height: 100px;
     margin-top: -23px;
    }
 }